{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<div class="quiz-container">
    <h2>{{ quiz_name }} - Pregunta {{ index|add:1 }}</h2>
    <p class="question-text">{{ question.question_text }}</p>

    <form method="post">
        {% csrf_token %}
        <div class="options">
            <label>
                <input type="radio" name="option" value="option1" required>
                {{ question.option1 }}
            </label>
            <label>
                <input type="radio" name="option" value="option2">
                {{ question.option2 }}
            </label>
            <label>
                <input type="radio" name="option" value="option3">
                {{ question.option3 }}
            </label>
            <label>
                <input type="radio" name="option" value="option4">
                {{ question.option4 }}
            </label>
        </div>
        <button type="submit" class="submit-btn">Submit Answer</button>
    </form>
</div>

{% endblock %}
