{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <h1>Welcome to the English Assessment Platform</h1>
    <p>Your gateway to improving English proficiency through comprehensive assessments.</p>
</header>

<nav>
    <div class="nav-buttons">
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'quiz_selection' %}">Start Quiz</a></li>
                <li><a href="{% url 'rankings_page' %}">Rankings</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'rankings_page' %}">Rankings</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
